footer {
    /* position: relative; */
    padding: 20px 0px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    /* line-height: 34px; */
    font-family: 'Lato', sans-serif;
    /* font-size: 16px; */
    font-weight: 600;
    /* letter-spacing: 2px; */
    background-color: #000000;
    color: #fff;
}

footer span {
    color: #ffffff;
}