#contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#contatos div h2 {
    background-color: rgba(0, 0, 0, 0.4);
    width: 500px;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
}

.container-contatos {
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
}

@media screen and (max-width: 1024px) {

    #contatos div h2 {
        padding: 7px;
        font-size: 20px;
    }

}

@media screen and (max-width: 625px) {

    #contatos div h2 {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;

    }


}